

<form action="/register/success/" method="post">
{% csrf_token %}

<h3> Login Details	</h3>
	<p>
	  <label for="USER_NAME">User Name </label>
	  <input size="38" name="USER_NAME" type="text">
  </p>
	<p>
	  <label for="PASSWORD">PASSWORD </label>
	  <input size="38" name="PASSWORD" type="password">
	  
  </p>
  <h3> Personal Details	</h3>
	<p>
	  <label for="FIRST_NAME">First Name </label>
	  <input size="38" name="FIRST_NAME" type="text">
	  <label for="LAST_NAME"><br />
	    <br />
	    Last Name </label>
	  <input size="38" name="LAST_NAME" type="text">
	  <label for="FATHER_NAME"><br />
	    <br />
	    Father Name </label>
	  <input size="38" name="FATHER_NAME" type="text">
  </p>
  <p>
<label for="MOTHER_NAME"><br />
	    Mother Name </label>
	  <input size="38" name="MOTHER_NAME" type="text">
  </p>
	<p>
	  <label for="GENDER">Gender </label>
	  <input size="38" name="GENDER" type="text">
	  <label for="EDUCATION"><br />
	    <br />
      Education </label>
	  <input size="38" name="EDUCATION" type="text">
	  <label for="CURRENT_ADDRESS"><br />
	    <br />
      Current Address </label>
	  <input size="38" name="CURRENT_ADDRESS" type="text">
  </p>
	<p>	
	  <label for="PD_CITY"><br />
      City </label>
	  <input size="38" name="PD_CITY" type="text">
	  <label for="PD_PINCODE"><br />
	    <br />
      Pincode </label>
	  <input size="38" name="PD_PINCODE" type="text">
	  <label for="PERMANENT_ADDRESS"><br />
	    <br />
      Permanent Address </label>
	  <input size="38" name="PERMANENT_ADDRESS" type="text">
  </p>
	<p>	
	  <label for="TELEPHONE">Telephone </label>
	  <input size="38" name="TELEPHONE" type="text">	
	  <label for="MOBILE"><br />
	    <br />
      Mobile </label>
	  <input size="38" name="MOBILE" type="text">	
	  
  </p>
	<p>&nbsp;</p>
<h3> Employment Details	</h3>
	<label for="COMPANY_TYPE"><br />
  </label>
	Company Type
	<input size="38" name="COMPANY_TYPE" type="text">
	<label for="DESIGNATION"><br />
	  <br />
  Designation  </label>
	<input size="38" name="DESIGNATION" type="text">
	<label for="INCOME"><br />
	  <br />
  Income </label>
	<input size="38" name="INCOME" type="text">
	<label for="WORK_YEARS"><br />
	  <br />
  Work Years </label>
	<input size="38" name="WORK_YEARS" type="text">
	<label for="NAME"><br />
	  <br />
  name </label>
	<input size="38" name="NAME" type="text">
	<label for="OFFICE_ADDRESS"><br />
	  <br />
  Office Address </label>
	<input size="38" name="OFFICE_ADDRESS" type="text">	
	<label for="ED_CITY"><br />
	  <br />
  City </label>
	<input size="38" name="ED_CITY" type="text">
	<label for="ED_PINCODE"><br />
	  <br />
  Pincode </label>
	<input size="38" name="ED_PINCODE" type="text">
	<label for="EMAIL_ID"><br />
	  <br />
  Email ID </label>
	<input size="38" name="EMAIL_ID" type="text">

<h3>&nbsp; </h3>
<h3>Bank Details </h3>
	<p>
	  <label for="ACCOUNT_NUMBER">Account Number	   	<br />
	  </label>
	  <input size="38" name="ACCOUNT_NUMBER" type="text">
	  <label for="BANK_NAME"><br />
	    <br />
	    Bank Name<br />
      </label>
	  <input size="38" name="BANK_NAME" type="text">
  </p>
<p>
	  <label for="BRANCH_ADDRESS">Branch Address<br />
    </label>
	  <input size="38" name="BRANCH_ADDRESS" type="text">
	  <label for="ACCOUNT_TYPE"><br />
        <br />
      Account Type<br />
	  </label>
	  <input size="38" name="ACCOUNT_TYPE" type="text">	
	  
  </p>
<h3>&nbsp; </h3>
<h3>Card Details </h3>
  <p>
    <label for="CARD_TYPE">Card Type </label>
    <input size="38" name="CARD_TYPE" type="text">
  </p>
  <p>&nbsp;</p>
</form>
<input type="submit" value="Submit" />
