<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ABC Bank | My Account</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/creditcard/user/css/style.css" rel="stylesheet" type="text/css" />
<script src="/creditcard/user/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/creditcard/user/js/cufon-yui.js" type="text/javascript"></script>
<script src="/creditcard/user/js/cufon-replace.js" type="text/javascript"></script>
<script src="/creditcard/user/js/Myriad_Pro_400.font.js" type="text/javascript"></script>
<script src="/creditcard/user/js/Myriad_Pro_600.font.js" type="text/javascript"></script>
<script src="/creditcard/user/js/NewsGoth_BT_400.font.js" type="text/javascript"></script>
<script src="/creditcard/user/js/NewsGoth_BT_700.font.js" type="text/javascript"></script>
<script src="/creditcard/user/js/NewsGoth_Dm_BT_400.font.js" type="text/javascript"></script>
<script src="/creditcard/user/js/script.js" type="text/javascript"></script>
<!--[if lt IE 7]>
    <script type="text/javascript" src="js/ie_png.js"></script>
    <script type="text/javascript">ie_png.fix('.png, #header .row-2 ul li a, .extra img, #search-form a, #search-form a em, #login-form .field1 a, #login-form .field1 a em, #login-form .field1 a b');</script>
    <link href="css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div id="main">
<div id="header">
<div class="row-1">
<div class="fleft"><a href="/creditcard/home/index.html"><img src="/creditcard/home/images/logo.gif" alt="" /></a></div>
<div class="fright">
<p>Welcome {{ request.session.USER.personaldetail.first_name }}
{{request.session.USER.personaldetail.last_name }} <a
	href="/creditcard/user/logout.html">Logout</a></p>
</div>
</div>
<div class="row-2">
<div class="left">
<ul>
	<li><a href="/creditcard/home/index.html"><span>Home</span></a></li>
	<li><a href="/creditcard/home/cards.html" target="_blank"><span>Cards For You</span></a></li>
	<li><a href="/creditcard/home/services.html" target="_blank"><span>Services For You</span></a></li>
	<li><a href="/creditcard/home/contactus.html" target="_blank"><span>Contact	Us</span></a></li>
	<li class="last"><a href="/creditcard/home/sitemap.html" target="_blank"><span>Sitemap</span></a></li>
</ul>
</div>
</div>
<div class="row-3">
<div class="inside">
<h2>Credit is the Source <b>of Convinience</b></h2>
<p>No need to worry about carrying cash with you all the time... The
one solution to all your money problems... Apply for the ABC Credit Card
and enjoy a tension - free life.</p>
</div>
</div>
</div>
<div id="footer">
<div class="footer-nav">
<div class="left">
<ul>
	<li><a href="/creditcard/user/index.html">My Account</a></li>
	<li><a href="/creditcard/user/transfer.html">Payments</a></li>
    <li><a href="#">Services</a></li>
	<li><a href="/creditcard/user/statement.html">Statements</a></li>
	<li class="last"><a href="/creditcard/user/profile.html">Profile</a></li>
</ul>
</div>
</div>
</div>
<div id="content">
<ul class="box-list">
	<li><br /></li>
	<li><br /></li>
	<li><br /></li>
	<li><br /></li>
	<li><br /></li>
	<li><br /></li>
</ul>
<div class="indent">
<div class="wrapper">
<div class="col-1">
<p>
<b>ADD AUTO PAY:</b>
<form action="successautopay.html" method="post"
	style="clear: right; width: 100%; overflow: hidden">
{% csrf_token %}
<fieldset style="border: none; float: left">
<p><label for="card_number">Card Number:</label> 
  	<input size="38"
	name="card_number" type="text"></p>
<p>
  <label for="account_no">To Account:   </label> <input size="38" name="account_no"
	type="text"></p>
	<p>
	<label for="description">Description:   </label> <input size="38" name="description"
	type="text"></p>
  <label for="amount">Amount:   </label> <input size="38" name="amount"
	type="number"></p>
	<p><label for="date">Date of Payment:   </label> <input size="38" name="date"
	type="date"></p>

<p>	
  <input type="submit" value="Submit" />
</p>
</fieldset>
</form>
<br /><br /><br />
<b>AUTO PAYMENTS:</b>
<table cellspacing="10" width=" 100%">
<tr>
 <td><b>ACCOUNT</b></td>
 <td><b>DESCRIPTION</b></td>
 <td><b>AMOUNT</b></td>
 <td><b>DATE</b></td>
 </tr>
 {% for autopay in autopayList %}
 <tr>
 <td>{{autopay.to_account}}</td><td>{{autopay.description}}</td>
 <td>{{autopay.amount}}</td><td>{{autopay.date}}</td>
 <td><i><a href="removeautopay.html/remove_id={{autopay.id}}"><i>Remove</i></a> </i></td>
 </tr>
 <br />
 {% endfor %}
 </table>
 <br /><br /><br />
<p> <b>RETURN CREDIT (Pay your bills)</b></p>
 <br  />
 <p><b>Credit Amount:</b>  {{request.session.USER.card.credited_amount}}
 <br  /></p>
 <form action="paybill.html" method="post"
	style="clear: right; width: 100%; overflow: hidden">
{% csrf_token %}
<label for="pay_amount"><b>Pay Amount:</b>   </label> <input size="38" name="pay_amount"
	type="number"></p>
<p>	
  <input type="Submit" value="Make Pay" />
</p>
 </form>
 
</div>
<div class="col-2">
<div class="box2">
<div class="border-top">
<div class="left-top-corner">
<div class="right-top-corner">
<div class="inner">
<h4><b>User</b> Sign-In</h4>
<form action="#" id="login-form">
<fieldset>
<p>Welcome <b>
{{request.session.USER.personaldetail.first_name}}</b> <b>
{{request.session.USER.personaldetail.last_name }}</b></p>
<ul>
	<li><a href="/creditcard/user/logout.html">Logout</a></li>
</ul>
</fieldset>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="box3">
<div class="right-bot-corner">
<div class="left-bot-corner">
<div class="inner">
<h4><b>Latest</b> News</h4>
<ul class="news">
	<li>Nov 11, 2011
	<p>ABC Bank all set to add new features to the existing framework.</p>
	</li>
	<li>Nov 01, 2011
	<p>Three types of cards launched by the ABC Bank - Platinum, Gold & Silver.</p>
	</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="footer">
<div class="footer-nav">
<div class="left">
<ul>
	<li><a href="/creditcard/home/index.html" target="_blank">Home</a></li>
	<li><a href="/creditcard/home/cards.html" target="_blank">Cards For You</a></li>
	<li><a href="/creditcard/home/services.html" target="_blank">Services For You</a></li>
	<li><a href="/creditcard/home/contactus.html" target="_blank">Contact Us</a></li>
	<li class="last"><a href="/creditcard/home/sitemap.html" target="_blank">Sitemap</a></li>
</ul>
</div>
</div>
<div class="footerlink">
<p class="lf"><b>Copyright &copy;</b> 2011 - Credit Cards Group - All Rights Reserved</p>
<p class="rf">Design by - <b> Aayush, Deepak, Kapil & Pankaj</b></p>
<div style="clear: both;"></div>
</div>
</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
<!-- END PAGE SOURCE -->
</html>