<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ABC Bank | Statements</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="js/cufon-yui.js" type="text/javascript"></script>
<script src="js/cufon-replace.js" type="text/javascript"></script>
<script src="js/Myriad_Pro_400.font.js" type="text/javascript"></script>
<script src="js/Myriad_Pro_600.font.js" type="text/javascript"></script>
<script src="js/NewsGoth_BT_400.font.js" type="text/javascript"></script>
<script src="js/NewsGoth_BT_700.font.js" type="text/javascript"></script>
<script src="js/NewsGoth_Dm_BT_400.font.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, #header .row-2 ul li a, .extra img, #search-form a, #search-form a em, #login-form .field1 a, #login-form .field1 a em, #login-form .field1 a b');</script>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div id="main">
  <div id="header">
    <div class="row-1">
      <div class="fleft"><a href="#"><img src="images/logo.gif" alt="" /></a></div>
      <div class="fright">
		<p>Welcome {{ USR.personaldetail.first_name  }} {{ USR.personaldetail.last_name  }}  || <a href="/creditcard/home/index.html">Logout</a></p>
      </div>
    </div>
    <div class="row-2">
      <div class="left">
        <ul>
          <li><a href="index.html"><span>Home</span></a></li>
          <li><a href="cards.html"><span>Cards For You</span></a></li>
          <li><a href="services.html"><span>Services For You</span></a></li>
          <li><a href="contact-us.html"><span>Contact Us</span></a></li>
          <li class="last"><a href="sitemap.html"><span>Sitemap</span></a></li>
        </ul>
      </div>
    </div>
	<div class="row-3">
      <div class="inside">
        <h2>Credit is the Source <b>of Convinience</b></h2>
        <p>No need to worry about carrying cash with you all the time... The one solution to all your money problems... Apply for the ABC Credit Card and enjoy a tension - free life.</p>
      </div>
    </div>
   </div>
  <div id="footer">
    <div class="footer-nav">
      <div class="left">
        <ul>
          <li><a href="index.html">My Accounts</a></li>
          <li><a href="transfer.html">Payments/Transfers</a></li>
          <li><a href="#">Statements</a></li>
          <li class="last"><a href="profile.html">My Profile</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="content">
    <ul class="box-list">
      <li><br /></li>
	  <li><br /></li>
	  <li><br /></li>
	  <li><br /></li>
	  <li><br /></li>
      <li><br /></li>
    </ul>
    <div class="indent">
      <div class="wrapper">
        <div class="col-1">
          <form action="successstatement.html" method="post"  style="clear:right; width:100%; overflow:hidden">
			{% csrf_token %}
		   <fieldset style="border:none; float:left">
          <p>
                <label for="CARD_NUMBER">Card Number</label>
			    <input size="38" name="CARD_NUMBER" type="text">
			  </p>
		  
		  <p>
			        <label for="FROM_DATE">From:</label>
			    <input size="38" name="FROM_DATE" type="date">
			  </p>
			  <p>
				<label for="TO_DATE">To: </label>
				<input size="38" name="TO_DATE" type="date">
			  
			  </p>
              <input type="submit" value="Submit" />
			</fieldset>
          </form>
        </div>
        <div class="col-2">
          <div class="box2">
            <div class="border-top">
              <div class="left-top-corner">
                <div class="right-top-corner">
                  <div class="inner">
				    <h4><b>User</b> Sign-In</h4>
					<form action="#" id="login-form">
                    <fieldset>
					  <p>Welcome </p>
                      <ul>
                        <li><a href="/creditcard/home/index.html">Logout</a></li>
                      </ul>
                    </fieldset>
					</form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box3">
            <div class="right-bot-corner">
              <div class="left-bot-corner">
                <div class="inner">
                  <h4><b>Latest</b> News</h4>
                  <ul class="news">
                    <li>Nov 11, 2011
                      <p>ABC Bank all set to add new features to the existing framework.</p>
                    </li>
                    <li>Nov 01, 2011
                      <p>Three types of cards launched by the ABC Bank - Platinum, Gold & Silver.</p>
                    </li>
                  </ul>
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="footer-nav">
      <div class="left">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="cards.html">Cards For You</a></li>
          <li><a href="services.html">Services For You</a></li>
          <li><a href="contact-us.html">Contact Us</a></li>
          <li class="last"><a href="sitemap.html">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <div class="footerlink">
      <p class="lf"><b>Copyright &copy;</b> 2011 - Credit Cards Group - All Rights Reserved</p>
      <p class="rf">Design by - <b> Aayush, Deepak, Kapil & Pankaj</b></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</html>